body {
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    resize: none;
}

form {
    margin-bottom: 20px;
}

h1.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}